# ROS2 build
build/
install/
log/

# C++
*.o
*.so
*.a

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# CLion
.idea/

# Python cache
__pycache__/
*.pyc

# ROS bag
*.bag
*.db3
